[submodule "modbusSlave"]
	path = modbusSlave
	url = https://github.com/fcomir-io/modbusSlave.git
	
[submodule "middleware"]
	path = middleware
	url = https://github.com/fcomir-io/python-postgreSQL-middleware.git
