[submodule "modbusSlave"]
	path = modbusSlave
	url = git@github.com:fcomir-io/modbusSlave.git
	
[submodule "middleware"]
	path = middleware
	url = git@github.com:fcomir-io/python-postgreSQL-middleware.git
